{%- assign sec_id = '#shopify-section-' | append: section.id -%}

<style>
 {{ sec_id }}  .pw-featured-wrapper {
    max-width: {{ section.settings.page_width }}px;
    margin: 0 auto;
  }

   {{ sec_id }}.pw-featured-section {
    position: relative;
    text-align: {{ section.settings.text_alignment }};
    padding: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: {{ section.settings.text_color }};
  }

  {{ sec_id }} .pw-featured-image {
    width: 100%;
    display: block;
  }

   {{ sec_id }}.pw-featured-image img {
    width: 100%;
    height: auto;
    display: block;
  }
   {{ sec_id }}.pw-featured-image {
    overflow: hidden;
    {% case section.settings.banner_height %}
      {% when 'small' %}
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 10px;
      {% when 'medium' %}
        height: 500px;
      {% when 'large' %}
        height: 700px;
      {% when 'adapt' %}
        height: auto;
    {% endcase %}
  }

  {{ sec_id }} .pw-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

 {{ sec_id }}  .pw-featured-content {
    position: absolute;
    z-index: 2;
    text-align: inherit;
    padding: 0 20px;
    width: 100%;
  }

  {{ sec_id }} .pw-featured-content h2 {
    font-size: {{ section.settings.heading_font_size }}px;
    margin: 0;
    color: {{ section.settings.heading_color }};
  }

  {{ sec_id }} .pw-featured-content h3 {
    font-size: {{ section.settings.subheading_font_size }}px;
    margin: 10px 0;
    color: {{ section.settings.subheading_color }};
  }

  {{ sec_id }} .pw-featured-button {
    display: inline-block;
    background-color: {{ section.settings.featured_button_background }};
    color: {{ section.settings.featured_button_text_color }};
    padding: 10px 20px;
    text-decoration: none;
    border-radius: {{ section.settings.button_shape }};
    font-weight: bold;
  }

   {{ sec_id }}.pw-blog-posts {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 20px;
  }

  {{ sec_id }} .pw-blog-post {
    width: calc(25% - 20px); /* 4 posts per row */
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
  }

   {{ sec_id }}.pw-blog-post img {
    width: 100%;
    border-radius: 5px;
  }

  {{ sec_id }} .pw-blog-post h4 {
    font-size: 18px;
    margin: 10px 0;
  }

  {{ sec_id }} .pw-read-more {
    display: inline-block;
    background-color: {{ section.settings.read_more_button_background }};
    color: {{ section.settings.read_more_button_text_color }};
    padding: 10px 20px;
    text-decoration: none;
    border-radius: {{ section.settings.read_more_button_shape }};
    font-weight: bold;
  }

  {{ sec_id }} a.pw-featured-button:hover {
    background-color: transparent;
    color: {{ section.settings.featured_button_background }};
    border: 2px solid {{ section.settings.featured_button_background }};
  }

 {{ sec_id }}  a.pw-read-more:hover {
    background-color: transparent;
    color: {{ section.settings.read_more_button_background }};
    border: 2px solid {{ section.settings.read_more_button_background }};
  }
{{ sec_id }} .pw-blog-post h4 {
  font-size: 18px;
  margin: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents the title from wrapping to the next line */
  overflow: hidden; /* Hides overflowed text */
  display: block; /* Ensures the element behaves like a block-level element */
}

  @media (max-width: 768px) {
    {{ sec_id }} .pw-featured-content h2 {
      font-size: 20px;
    }

    .pw-featured-content h3 {
      font-size: 24px;
    }

    {{ sec_id }} .pw-blog-posts {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }

    {{ sec_id }} .pw-blog-post {
      width: 90%;
      margin-bottom: 20px;
    }

    {{ sec_id }} .pw-featured-button,
    .pw-read-more {
      width: 100%;
      text-align: center;
    }
  }
</style>

<div class="pw-featured-wrapper">
  <div class="pw-featured-section">
    <div class="pw-featured-image">
      {% if section.settings.background_image %}
        <img src="{{ section.settings.background_image | img_url: 'master' }}" alt="Banner Image">
      {% endif %}
    </div>
    <div class="pw-featured-content">
      <h2>{{ section.settings.heading_text }}</h2>
      <h3>{{ section.settings.subheading_text }}</h3>
      <a href="{{ section.settings.button_link }}" class="pw-featured-button">{{ section.settings.button_text }}</a>
    </div>
  </div>

  <div class="pw-blog-posts">
    {% assign blog = section.settings.blog %}
    {% if blog %}
     {% for article in blogs[blog.handle].articles limit: section.settings.post_limit %}
       <div class="pw-blog-post d-flex flex-column">
  <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.title }}">
  <h4>{{ article.title }}</h4>
  <a href="{{ article.url }}" class="pw-read-more mt-auto">Read more</a>
</div>

      {% endfor %}
    {% else %}
      <p>Please select a blog to display posts.</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Image banner blog PWC",
  "settings": [
    {
      "type": "range",
      "id": "page_width",
      "label": "Page Width",
      "min": 600,
      "max": 1600,
      "step": 50,
      "default": 1200,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Banner Image"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Image Height",
      "options": [
        { "value": "adapt", "label": "Adapt to Image" },
        { "value": "small", "label": "Small (450px)" },
        { "value": "medium", "label": "Medium (500px)" },
        { "value": "large", "label": "Large (700px)" }
      ],
      "default": "medium"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "FEATURED ARTICLE"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading Font Size",
      "min": 14,
      "max": 80,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "subheading_text",
      "label": "Subheading Text",
      "default": "How to add a FAQ section to Shopify"
    },
    {
      "type": "range",
      "id": "subheading_font_size",
      "label": "Subheading Font Size",
      "min": 14,
      "max": 80,
      "step": 1,
      "default": 36,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Read More"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Number of Posts",
      "default": 4,
      "min": 1,
      "max": 10
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "button_shape",
      "label": "Featured Button Shape",
      "options": [
        { "value": "0px", "label": "Square" },
        { "value": "5px", "label": "Rounded" },
        { "value": "50px", "label": "Pill" }
      ],
      "default": "5px"
    },
    {
      "type": "color",
      "id": "featured_button_background",
      "label": "Featured Button Background Color",
      "default": "#FFA500"
    },
    {
      "type": "color",
      "id": "featured_button_text_color",
      "label": "Featured Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "read_more_button_shape",
      "label": "Read More Button Shape",
      "options": [
        { "value": "0px", "label": "Square" },
        { "value": "5px", "label": "Rounded" },
        { "value": "50px", "label": "Pill" }
      ],
      "default": "5px"
    },
    {
      "type": "color",
      "id": "read_more_button_background",
      "label": "Read More Button Background Color",
      "default": "#FFA500"
    },
    {
      "type": "color",
      "id": "read_more_button_text_color",
      "label": "Read More Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 100,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Image banner blog PWC"
    }
  ]
}
{% endschema %}
