{%- assign sid = '#shopify-section-' | append: section.id -%}

<style>
  
  {{ sid }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
  }

  {{ sid }} .pc-ba-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  {{ sid }} .pc-ba-text-blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  {{ sid }}. pc-ba-text-block {
    
  }

  {{ sid }} .pc-ba-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    --position: 50%;
    border-radius: 50%;
  }

  {{ sid }} .pc-ba-image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  {{ sid }} .pc-ba-badge {
    position: absolute;
    bottom: 15px;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    color: #000;
    z-index: 10;
    display: {% if section.settings.show_badge %}block{% else %}none{% endif %};
  }

  {{ sid }} .pc-ba-badge-left {
    left: 15px;
  }

  {{ sid }} .pc-ba-badge-right {
    right: 15px;
  }

  {{ sid }} .pc-ba-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  {{ sid }} .pc-ba-slider-input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }

  {{ sid }} .pc-ba-slider-line {
    position: absolute;
    inset: 0;
    width: 0.2rem;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
  }

  {{ sid }} .pc-ba-slider-button {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

{{ sid }} .pc-ba-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    --position: 50%;
    overflow: hidden;
    border-radius: 50%;
  }

  {{ sid }} .pc-ba-image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  {{ sid }} .pc-ba-before,
  {{ sid }} .pc-ba-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  {{ sid }} .pc-ba-before {
    clip-path: inset(0 calc(100% - var(--position)) 0 0);
    z-index: 2;
  }

  {{ sid }} .pc-ba-after {
    z-index: 1;
  }

  {{ sid }} .pc-ba-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  @media (max-width: 768px) {
    {{ sid }} .pc-ba-main {
      flex-direction: column;
    }
    
    {{ sid }} .pc-ba-container {
      width: 100%;
    }
  }

  @media (min-width: 750px) {
    {{ sid }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    
    {% if section.settings.show_content %}
      {{ sid }} .pc-ba-container {
        width: calc(100% - 20px);
      }
    {% else %}
      {{ sid }} .pc-ba-container {
        width: 50%;
        margin: 0 auto;
      }
    {% endif %}
  }
</style>

<div class="pc-ba-text-blocks pc-ba-left">
  {% for block in section.blocks %}
    {% if block.type == 'text_block' and block.settings.position == 'left' %}
      <div class="pc-ba-text-block" style="
          font-size: {{ block.settings.font_size }}px;
          color: {{ block.settings.text_color }};
          padding-top: {{ block.settings.padding_top }}px;
          padding-bottom: {{ block.settings.padding_bottom }}px;
        ">
        {{ block.settings.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="pc-ba-text-blocks pc-ba-right">
  {% for block in section.blocks %}
    {% if block.type == 'text_block' and block.settings.position == 'right' %}
      <div class="pc-ba-text-block" style="
          font-size: {{ block.settings.font_size }}px;
          color: {{ block.settings.text_color }};
          padding-top: {{ block.settings.padding_top }}px;
          padding-bottom: {{ block.settings.padding_bottom }}px;
        ">
        {{ block.settings.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
(function() {
  const sectionId = '{{ section.id }}';
  const container = document.querySelector(`#shopify-section-{{section.id}} .pc-ba-container`);
  const slider = document.querySelector(`#shopify-section-{{section.id}} .pc-ba-slider-input`);

  if (slider && container) {
    slider.addEventListener('input', (e) => {
      container.style.setProperty('--position', `${e.target.value}%`);
    });
  }
})();
</script>

{% schema %}
{
  "name": "PWC - Before/After Slider",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bf_image",
      "label": "Before Image"
    },
    {
      "type": "image_picker",
      "id": "af_image",
      "label": "After Image"
    },
    {
      "type": "checkbox",
      "id": "show_badge",
      "label": "Show Badges",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show Content",
      "default": true
    },
    {
      "type": "richtext",
      "id": "left_top_text",
      "label": "Left Top Text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    },
     {
      "type": "range",
      "id": "subheading_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Subheading font size",
      "default": 18
    },
     {
      "type": "range",
      "id": "padding_top_first",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_first",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "richtext",
      "id": "left_bottom_text",
      "label": "Left Bottom Text"
    },
    {
      "type": "color",
      "id": "text_color_first",
      "label": "Text Color",
      "default": "#000"
    },
     {
      "type": "range",
      "id": "subheading_size_first",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Subheading font size",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_top_second",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_second",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "richtext",
      "id": "right_top_text",
      "label": "Right Top Text"
    },
     {
      "type": "color",
      "id": "text_color_second",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "subheading_size_second",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Subheading font size",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_top_third",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_third",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "richtext",
      "id": "right_bottom_text",
      "label": "Right Bottom Text"
    },
     {
      "type": "color",
      "id": "text_color_third",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "subheading_size_third",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Subheading font size",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_top_fourth",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_fourth",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "PC - Before/After Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}