{%- assign sec_id = '#shopify-section-' | append: section.id -%}

{%- assign sec_id = '#shopify-section-' | append: section.id -%}

{% style %}
  
    {{ sec_id }} .banner {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: auto;
    isolation: isolate;
  }

  {{ sec_id }} .banner__box {
    text-align: center;
  }

  /* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
  {{ sec_id }} .banner__box.gradient {
    transform: perspective(0);
  }

  @media only screen and (max-width: 749px) {
    {{ sec_id }} .banner--content-align-mobile-right .banner__box {
      text-align: right;
    }

    {{ sec_id }} .banner--content-align-mobile-left .banner__box {
      text-align: left;
    }
  }

  @media only screen and (min-width: 750px) {
    {{ sec_id }} .banner--content-align-right .banner__box {
      text-align: right;
    }

    {{ sec_id }} .banner--content-align-left .banner__box {
      text-align: left;
    }

    {{ sec_id }} .banner--content-align-left.banner--desktop-transparent .banner__box,
    {{ sec_id }} .banner--content-align-right.banner--desktop-transparent .banner__box,
    {{ sec_id }} .banner--medium.banner--desktop-transparent .banner__box {
      max-width: 68rem;
    }
  }

  {{ sec_id }} .banner__media.animate--zoom-in {
    clip-path: inset(0px);
  }

  {{ sec_id }} .banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
  {{ sec_id }} .banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
    position: fixed;
    height: 100vh;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
    {{ sec_id }} .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
      height: 28rem;
    }

    {{ sec_id }} .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
    {{ sec_id }} .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
      height: 34rem;
    }

    {{ sec_id }} .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
    {{ sec_id }} .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
      height: 39rem;
    }

    {{ sec_id }} .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
      min-height: 28rem;
    }

    {{ sec_id }} .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
      min-height: 34rem;
    }

    {{ sec_id }} .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
      min-height: 39rem;
    }
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner {
      flex-direction: row;
    }

    {{ sec_id }} .banner--small:not(.banner--adapt) {
      min-height: 42rem;
    }

    {{ sec_id }} .banner--medium:not(.banner--adapt) {
      min-height: 56rem;
    }

    {{ sec_id }} .banner--large:not(.banner--adapt) {
      min-height: 72rem;
    }

    {{ sec_id }} .banner__content.banner__content--top-left {
      align-items: flex-start;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content.banner__content--top-center {
      align-items: flex-start;
      justify-content: center;
    }

    {{ sec_id }} .banner__content.banner__content--top-right {
      align-items: flex-start;
      justify-content: flex-end;
    }

    {{ sec_id }} .banner__content.banner__content--middle-left {
      align-items: center;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content.banner__content--middle-center {
      align-items: center;
      justify-content: center;
    }

    {{ sec_id }} .banner__content.banner__content--middle-right {
      align-items: center;
      justify-content: flex-end;
    }

    {{ sec_id }} .banner__content.banner__content--bottom-left {
      align-items: flex-end;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content.banner__content--bottom-center {
      align-items: flex-end;
      justify-content: center;
    }

    {{ sec_id }} .banner__content.banner__content--bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner:not(.banner--stacked) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    {{ sec_id }} .banner--stacked {
      height: auto;
    }

    {{ sec_id }} .banner--stacked .banner__media {
      flex-direction: column;
    }
  }

  {{ sec_id }} .banner__media {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  {{ sec_id }} .banner__media-half {
    width: 50%;
  }

  {{ sec_id }} .banner__media-half + .banner__media-half {
    right: 0;
    left: auto;
  }

  {{ sec_id }} .banner__media-half.animate--fixed:first-child > img,
  {{ sec_id }} .banner__media-half.animate--zoom-in:first-child > img {
    width: 50%;
  }

  {{ sec_id }} .banner__media-half.animate--fixed:nth-child(2) > img,
  {{ sec_id }} .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 50%;
    width: 50%;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--stacked .animate--fixed:first-child > img,
    {{ sec_id }} .banner--stacked .animate--zoom-in:first-child > img {
      width: 100%;
    }

    {{ sec_id }} .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
    {{ sec_id }} .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
      left: 0;
      width: 100%;
    }

    {{ sec_id }} .banner--stacked .banner__media-half {
      width: 100%;
    }

    {{ sec_id }} .banner--stacked .banner__media-half + .banner__media-half {
      order: 1;
    }
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner__media {
      height: 100%;
    }
  }

  {{ sec_id }} .banner--adapt,
  {{ sec_id }} .banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
    height: auto;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--mobile-bottom .banner__media,
    {{ sec_id }} .banner--stacked:not(.banner--mobile-bottom) .banner__media {
      position: relative;
    }

    {{ sec_id }} .banner--stacked.banner--adapt .banner__content {
      height: auto;
    }

    {{ sec_id }} .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
      background: transparent;
    }

    {{ sec_id }} .banner:not(.banner--mobile-bottom) .banner__box {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    {{ sec_id }} .banner:not(.banner--mobile-bottom) .button--secondary {
      --alpha-button-background: 0;
    }

    {{ sec_id }} .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
      position: absolute;
      height: auto;
    }

    {{ sec_id }} .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
      max-height: 100%;
      overflow: hidden;
      position: absolute;
    }

    {{ sec_id }} .banner--stacked:not(.banner--adapt) .banner__media {
      position: relative;
    }

    {{ sec_id }} .banner::before {
      display: none !important;
    }

    {{ sec_id }} .banner--stacked .banner__media-image-half {
      width: 100%;
    }
  }

  {{ sec_id }} .banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner__content {
      padding: 5rem;
    }

    {{ sec_id }} .banner__content--top-left {
      align-items: flex-start;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content--top-center {
      align-items: flex-start;
      justify-content: center;
    }

    {{ sec_id }} .banner__content--top-right {
      align-items: flex-start;
      justify-content: flex-end;
    }

    {{ sec_id }} .banner__content--middle-left {
      align-items: center;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content--middle-center {
      align-items: center;
      justify-content: center;
    }

    {{ sec_id }} .banner__content--middle-right {
      align-items: center;
      justify-content: flex-end;
    }

    {{ sec_id }} .banner__content--bottom-left {
      align-items: flex-end;
      justify-content: flex-start;
    }

    {{ sec_id }} .banner__content--bottom-center {
      align-items: flex-end;
      justify-content: center;
    }

    {{ sec_id }} .banner__content--bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--mobile-bottom:not(.banner--stacked) .banner__content {
      order: 2;
    }

    {{ sec_id }} .banner:not(.banner--mobile-bottom) .field__input,
    {{ sec_id }} .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
      background: transparent;
    }
  }

  {{ sec_id }} .banner__box {
    padding: 4rem 1.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
  }

  {{ sec_id }} .banner--mobile-bottom .banner__box {
    padding: 4rem 3.5rem;
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner__box {
      padding: 4rem 3.5rem;
    }

    {{ sec_id }} .banner--desktop-transparent .banner__box {
      padding: 4rem 0;
      background: transparent;
      max-width: 89rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    {{ sec_id }} .banner--desktop-transparent .button--secondary {
      --alpha-button-background: 0;
    }

    {{ sec_id }} .banner--desktop-transparent .content-container:after {
      display: none;
    }
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--mobile-bottom::after,
    {{ sec_id }} .banner--mobile-bottom .banner__media::after {
      display: none;
    }
  }

  {{ sec_id }} .banner::after,
  {{ sec_id }} .banner__media::after {
    content: '';
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  {{ sec_id }} .banner__box > * + .banner__text {
    margin-top: 1.5rem;
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner__box > * + .banner__text {
      margin-top: 2rem;
    }
  }

  {{ sec_id }} .banner__box > * + * {
    margin-top: 1rem;
  }

  {{ sec_id }} .banner__box > *:first-child {
    margin-top: 0;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--stacked .banner__box {
      width: 100%;
    }
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner__box {
      width: auto;
      max-width: 71rem;
      min-width: 45rem;
    }
  }

  @media screen and (min-width: 1400px) {
    {{ sec_id }} .banner__box {
      max-width: 90rem;
    }
  }

  {{ sec_id }} .banner__heading {
    margin-bottom: 0;
  }

  {{ sec_id }} .banner__box .banner__heading + * {
    margin-top: 1rem;
  }

  {{ sec_id }} .banner__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner--content-align-mobile-right .banner__buttons--multiple {
      justify-content: flex-end;
    }

    {{ sec_id }} .banner--content-align-mobile-center .banner__buttons--multiple > * {
      flex-grow: 1;
      min-width: 22rem;
    }
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner--content-align-center .banner__buttons--multiple > * {
      flex-grow: 1;
      min-width: 22rem;
    }

    {{ sec_id }} .banner--content-align-right .banner__buttons--multiple {
      justify-content: flex-end;
    }
  }

  {{ sec_id }} .banner__box > * + .banner__buttons {
    margin-top: 2rem;
  }

  @media screen and (max-width: 749px) {
    {{ sec_id }} .banner:not(.slideshow) .rte a,
    {{ sec_id }} .banner:not(.slideshow) .inline-richtext a:hover,
    {{ sec_id }} .banner:not(.slideshow) .rte a:hover {
      color: currentColor;
    }
  }

  @media screen and (min-width: 750px) {
    {{ sec_id }} .banner--desktop-transparent .rte a,
    {{ sec_id }} .banner--desktop-transparent .inline-richtext a:hover,
    {{ sec_id }} .banner--desktop-transparent .rte a:hover {
      color: currentColor;
    }
  }

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          {{ sec_id }} .banner__heading {
            font-weight: {{ block.settings.font_weight }};
            font-style: {{ block.settings.font_style }};
            color: {{ block.settings.text_color }};
            text-decoration: {{ block.settings.text_decoration }};
            font-size: {{ block.settings.text_size }}
          }
        {% when 'text' %}
          {{ sec_id }} .banner__text {
            font-weight: {{ block.settings.font_weight }};
            font-style: {{ block.settings.font_style }};
            color: {{ block.settings.text_color }};
            text-decoration: {{ block.settings.text_decoration }};
            padding-top: {{ block.settings.padding_top }}px;
            padding-bottom: {{ block.settings.padding_bottom }}px;
          }
        {%- when 'buttons' -%}
        {{ sec_id }} .banner__buttons{
            padding-top: {{ block.settings.padding_top }}px;
            padding-bottom: {{ block.settings.padding_bottom }}px;
        }
      {% endcase %}
    {% endfor %}

    {%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
      @media screen and (max-width: 749px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before,
        #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }

      @media screen and (min-width: 750px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
    {%- endif -%}

    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
{% endstyle %}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pwc Image Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.content.content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
         {
          "type": "select",
          "id": "text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
          {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#fff"
        },
         {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
         {
          "type": "select",
          "id": "font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
         {
          "type": "select",
          "id": "text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
         {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top (px)",
      "default": 5,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom (px)",
      "default": 5,
      "min": 0,
      "max": 150,
      "step": 5
    },
      ]
    },

    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
        "type": "header",
        "content": "t:sections.image-banner.blocks.buttons.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
        "type": "header",
        "content": "t:sections.image-banner.blocks.buttons.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
         {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
      ]
    }
  ],
  "presets": [
    {
      "name": "Pwc Image Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
